.works{
    display: grid;
    grid-template-columns: 3fr 1fr;
    max-width: 1200px;
    margin: auto;
}
.works-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.work{
    border: 1px solid rgb(233, 233, 233);
}
.work-img{
    height: 170px;
    object-fit: cover;
}
.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.break-button {
    border: none;
    margin: 6px;
    padding: 3px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: #e3ffea;
    color: #0fd644;
}
.break-button:hover {
    background: #0fd644;
    color: #e3ffea;
}