
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --primary-color: #f9621a;
}
.bg-prime{
  background-color: var(--primary-color);
}
.btn-prime{
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  transition: .2s;
}
.btn-prime:hover{
  opacity: 0.9;
}